@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
}
.head{
    display: flex;
    justify-content: center;
}
.firstscreen{
    display: flex;
    flex-direction: column;
    width: 1523.2px;
    height: 100vh;
    background-image: linear-gradient(180deg,#078f91,#19b6b6);
}
.mainscreen{
    width: auto;
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
    width: 75rem;
    height: 150px;
    /* margin-left: 168px;
    margin-right: 168px; */
}
.logoandname{
    display: flex;
    width: 171.04px;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    text-decoration: none;
}
.dmslink{
    display: flex;
    text-decoration: none;
    align-items: center;
    height: 55px;
}
.DMSfont{
    width: 66.04px;
    height: 34.4px;
    font-size: 1.875rem;
    font-family: 'NanumSquare', sans-serif;

}
.logoandlogin{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logoimg{
    width: 3.4375rem;
    height: 3.4375rem;
}
.logo{
    width: 75rem;
    height: 9.375rem;
}
.name{
    color: #fff;
    margin-left: 3.125rem;
    font-weight: 1000;
}
.login{
    display: flex;
    width: 502px;
    justify-content: space-between;
    align-items: center;
}
.loginbtn{
    width: 9.375rem;
    height: 3.125rem;
    border-radius: 1.5625rem;
    border: none;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 5px 5px 0 rgb(0 0 0/20%);
    background-color: #19b6b6;
    font-size: 1rem;
}
.loginfont{
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 700;
}
button{
    font: 400 13.3333px Arial;
    text-rendering: auto;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 700;
}
.maininfo{
    display: flex;
    width: 1200px;
    height: 642px;
}
.foodlist{
    display: flex;
    height: 6.125rem;
    width: 100%;
    margin-top: 45px;
    height: 316px;
    /* flex-direction: column; */
    /* margin-top: 37px; */
    justify-content: space-between;
}
.todaylist{
    color: #fff;
    font-size: 3rem;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 800;
    
}
.today{
    color:hsla(0,0%,100%,.7);
    font-size: 1.5rem;
    margin-top: 15.6px;
    font-family: 'NanumSquare', sans-serif;
}
.menubox{
    display: flex;
    height: 23.875rem;
    align-items: center;
    margin-top: 15px;
    justify-content: space-between;
}
.eachmenubox{
    position: relative;
    transition: .45s;
    width: 219.2px !important;
    height: 19.75rem;
    border-radius: 10px;
    background-color: #0c9799;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%);
}
.nextbefore{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.before,
.next{
    border: none;
    width: 9.375rem;
    height: 3.125rem;
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%);
    border-radius: 1.5625rem;
    background-color: #fff;
    margin-right: 2.5rem;
    cursor: pointer;
    transition: .3s;
    color: #19b6b6;
    outline: none;
    font-size: 1.125rem;
    font-family: 'NanumSquare', sans-serif;
}
.imginmenu{
    width: 438px;
    height: 409.1px;
    margin-top: 75px;
    /* margin-bottom: 40px; */
    /* margin-left: 44.4px; */
}
.menuboxleft{
    display: flex;
    flex-direction: column;
    width: 762px;
    height: auto;
}
/* .eachmenubox:nth-child(1){
    margin-right: 37.2px;
}
.eachmenubox:nth-child(2){
    margin-right:37.2px;
} */
/* .eachmenubox:nth-child(3){
    margin: 0 20px;
} */
.menuboxright{
    margin-left: 30px;
}
.foodbox{
    width: 732px;
    height: 561px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menuall{
    display: flex;
    width: 1200px;
    justify-content: space-between;
}
.infobox{
    /* top: 14%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}
.mealhead{
    color: #fff;
    font-size: 1.5rem;
    opacity: 0;
    transition: .45s;
    /* top: 10%; */
    font-family: 'NanumSquare', sans-serif;
    text-align: center;
    padding-bottom: .3rem;
    margin: 24px 0;
    position: absolute;
    /* position: absolute; */
}
.mealname{
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    font-family: 'NanumSquare', sans-serif;
}
.eachmenubox:hover{
    cursor: pointer;
    transform: scale(1.1);
    
}
.eachmenubox:hover .mealhead{
    opacity: 1;
}
.eachmenubox:hover .mealbox{
    margin-top: 65.5px;
}
.mealbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 219.2px;
    height: 229px;
    margin-block: auto;
}









.modal{
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.modalcontent{
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 400px;
    height: 37.5rem;
    background-color: #f5f5f5;
    border: 1px solid #888;
    border-radius: 20px;
    position: absolute;
    display: none;
}
.modalhead{
    height: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modallogin{
    color: #19b6b6;
    font-size: 1.5rem;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 800;
}
.modallogo{
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}
.modalclose{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
}
.modalbottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 430px;
    align-items: center;
    margin-top: 40px;
}
.loginnow{
    /* width: 300px; */
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modalinput{
    width: 302px;
    height: 52px;
    border: 1px solid black;
    margin: auto;
    padding-top: 1px;
    padding-left: 26px;
    padding-bottom: 1px;
    padding-right: 2px;
    border-radius: 5px;
    border: 3px solid #e0e0e0;
    font-family: 'NanumSquare', sans-serif;
    font-size: 1.125rem;
}
.modalloginbtn{
    width: 302px;
    height: 52px;
    background-color: #19b6b6;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 1.125rem;
    font-family: 'NanumSquare', sans-serif;
    margin: auto;
}
.logintype{
    display: flex;
    width: 302px;
    margin: auto;
    justify-content: space-between;
    font-family: 'NanumSquare', sans-serif;
    align-items: center;
}
.signup{
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 14px;
    color: #616161;
    background-color: #e0e0e0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
    align-items: center;
}
.checkbox{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
}
.auto{
    display: flex;
    width: 116.8px;
    justify-content: space-between;
    align-items: center;
}
.autofont{
    color: #616161;
    cursor: pointer;
    font-family: 'NanumSquare', sans-serif;
    font-size: .8rem;
}
.forget{
    color: #19b6b6;
    cursor: pointer;
    font-family: 'NanumSquare', sans-serif;
    font-size: .875rem;
}
.yet{
    color: #616161;
    font-size: 14px;
    font-family: 'NanumSquareR', sans-serif;
}
.signupnow{
    color: #19b6b6;
    cursor: pointer;
    font-family: 'NanumSquareR', sans-serif;
    font-size: 14px;
    margin-left: 8px;
    font-weight: 600;
}
.secondscreen{
    width: 100%;
    height: 792px;
}
.secondmain{
    di
    width: 1200px;
    height: 100%;
}
.secondsubmitfont{
    display: flex;
    flex-direction: column;
    font-family: 'NanumSquareR', sans-serif;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 177px;
    border-bottom: 93px;
}
.submitscreen{
    color: #19b6b6;
    font-family: 'NanumSquareEB', sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
}